In [148]:
import numpy as np
import pandas as pd

df = pd.read_csv('gr_of_seven_df.csv')

In [149]:
# Set the first row to the title of cols, then set df starts from row[1]
df.columns = df.iloc[0]
df = df[1:]
df.head()

0      NaN Population           GDP    Surface    HDI Continent
1   Canada     35.467  1,785,387.00  9,984,670  0.913   America
2   France     63.951  2,833,687.00    640,679  0.888    Europe
3  Germany      80.94  3,874,437.00    357,114  0.916    Europe
4    Italy     60.665  2,167,744.00    301,336  0.873    Europe
5    Japan    127.061  4,602,367.00    377,930  0.891      Asia

In [150]:
# Change the index by the first col
df.index = df[df.columns[0]]
df = df.drop(df.columns[[0]], axis=1)
df.head()

0       Population           GDP    Surface    HDI Continent
nan
Canada      35.467  1,785,387.00  9,984,670  0.913   America
France      63.951  2,833,687.00    640,679  0.888    Europe
Germany      80.94  3,874,437.00    357,114  0.916    Europe
Italy       60.665  2,167,744.00    301,336  0.873    Europe
Japan      127.061  4,602,367.00    377,930  0.891      Asia

In [151]:
# show attr of df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      object
 1   GDP         7 non-null      object
 2   Surface     7 non-null      object
 3   HDI         7 non-null      object
 4   Continent   7 non-null      object
dtypes: object(5)
memory usage: 336.0+ bytes

In [152]:
df.size

35

In [153]:
df.shape

(7, 5)

In [154]:
df.describe()

0      Population           GDP    Surface    HDI Continent
count           7             7          7      7         7
unique          7             7          7      7         3
top        35.467  1,785,387.00  9,984,670  0.913    Europe
freq            1             1          1      1         4

In [155]:
# iloc and loc will get rows
df.loc['Canada']

0
Population          35.467
GDP           1,785,387.00
Surface          9,984,670
HDI                  0.913
Continent          America
Name: Canada, dtype: object

In [156]:
df.iloc[-1]

0
Population          318.523
GDP           17,348,075.00
Surface           9,525,067
HDI                   0.915
Continent           America
Name: United States, dtype: object

In [157]:
# get elements of col by cond
# pd.to_numeric(df['Population']) > 50
df['Population'].astype('float') > 50

nan
Canada            False
France             True
Germany            True
Italy              True
Japan              True
United Kingdom     True
United States      True
Name: Population, dtype: bool

In [158]:
# get rows by cond of col
# need to change format type of string be suitable with default float number
df.loc[(df['Population'].astype('float') > 80) & (
    df['Surface'].str.replace(',', '').astype(float) > 1000000)]

0             Population            GDP    Surface    HDI Continent
nan
United States    318.523  17,348,075.00  9,525,067  0.915   America

In [159]:
# show selected cols with cond
df.loc[(df['Population'].astype('float') > 80), ['HDI','GDP']]

0                HDI            GDP
nan
Germany        0.916   3,874,437.00
Japan          0.891   4,602,367.00
United States  0.915  17,348,075.00

In [160]:
# rename col name and index
df.rename(columns={
    'HDI': 'Human Dev Index',
    'Non Col': 'ABC'
}, index={
    'Japan': 'JP',
    'Germany': 'GER'
})

0              Population            GDP    Surface Human Dev Index Continent
nan
Canada             35.467   1,785,387.00  9,984,670           0.913   America
France             63.951   2,833,687.00    640,679           0.888    Europe
GER                 80.94   3,874,437.00    357,114           0.916    Europe
Italy              60.665   2,167,744.00    301,336           0.873    Europe
JP                127.061   4,602,367.00    377,930           0.891      Asia
United Kingdom     64.511   2,950,039.00    242,495           0.907    Europe
United States     318.523  17,348,075.00  9,525,067           0.915   America